<%= content_for(:title, "ToDo | トップページ") %>
<div
class="w-full bg-center bg-cover h-96"
style="
  background-image: url(https://img.freepik.com/free-vector/manager-prioritizing-tasks-in-to-do-list_74855-5272.jpg?w=1480&t=st=1716312684~exp=1716313284~hmac=7ece6fd12d6eeb2f13ea8b40691d6cf822de11718758791586069f1a0df156ae);
"
>
<div
  class="flex items-center justify-center w-full h-full bg-gray-900 bg-opacity-50"
>
  <div class="text-center">
    <h1 class="pb-5 text-2xl font-semibold text-white uppercase lg:text-3xl">
      あなたのtodoを管理しましょう
    </h1>
    <%= link_to "登録はこちらから", new_user_path, class: "w-full px-4 py-2 mt-4 text-sm font-medium text-white uppercase transition-colors duration-200 transform bg-blue-600 rounded-md lg:w-auto hover:bg-blue-500 focus:outline-none focus:bg-blue-500" %>
  </div>
</div>
</div>
