<div>
  <h1 class="pl-10 pt-10 font-bold text-4xl"><%= @user.name %> のToDo</h1>
</div>
<div>
  <% @todos.each do |todo| %>
    <%= link_to todo.title, todo_path(todo),  class:"pl-10 pt-10 font-bold text-xl block" %>
  <% end %>
</div>